Driftguard Agent.json
{
  "name": "Monitor PostgreSQL data quality and generate remediation alerts with Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "ae28c7cc-0206-4866-b3a9-5e3e41ff85e9",
      "name": "Schedule DB Quality Scan",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -976,
        224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "confidenceThreshold",
              "type": "number",
              "value": 0.85
            },
            {
              "id": "id-2",
              "name": "maxNullPercentage",
              "type": "number",
              "value": 0.15
            },
            {
              "id": "id-3",
              "name": "outlierStdDevThreshold",
              "type": "number",
              "value": 3
            },
            {
              "id": "id-4",
              "name": "auditTableName",
              "type": "string",
              "value": "data_quality_audit_log"
            },
            {
              "id": "id-5",
              "name": "baselineTableName",
              "type": "string",
              "value": "data_quality_baselines"
            },
            {
              "id": "3ee32ab6-f412-4ee1-945f-0bfba3e9cac6",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "87863ee9-59a4-4c78-a912-6beb8f270c33",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        -768,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name, column_name, data_type, is_nullable \nFROM information_schema.columns \nWHERE table_schema = 'public' \nORDER BY table_name, ordinal_position",
        "options": {}
      },
      "id": "0f4a039a-1085-4e8b-859f-fc6b2b47af08",
      "name": "Get Schema Metadata",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -432,
        -48
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "ruabEfVbpb9uHsDS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  'production_events' as table_name,\n  'device_os' as column_name,\n  COUNT(*) as total_count,\n  SUM(CASE WHEN device_os IS NULL THEN 1 ELSE 0 END) as null_count,\n  AVG(processing_time_ms) as avg_processing_time\nFROM production_events",
        "options": {}
      },
      "id": "5c2bf7ec-1a45-4ab5-80f5-8d2fec500796",
      "name": "Get Table Statistics",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -432,
        224
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "ruabEfVbpb9uHsDS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM data_quality_baselines ORDER BY updated_at DESC LIMIT 1",
        "options": {}
      },
      "id": "2c18176b-aea3-4015-8acf-25abfe34dcf4",
      "name": "Get Historical Baselines",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -432,
        416
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "ruabEfVbpb9uHsDS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst timestamp = new Date().toISOString();\nconst issues = [];\n\n// Get schema data\nconst schemaItems = items.filter(i => i.json.table_name && i.json.column_name);\nconst tables = [...new Set(schemaItems.map(i => i.json.table_name))];\n\n// Check production_events exists\nif (!tables.includes('production_events')) {\n  issues.push({\n    type: 'schema_drift',\n    severity: 'critical',\n    table_name: 'production_events',\n    column_name: null,\n    change_description: 'Critical table production_events is missing',\n    detected_at: timestamp,\n    confidence_score: 0.95,\n    sql_fix: '-- Investigate table deletion immediately'\n  });\n}\n\nif (issues.length === 0) {\n  return [{ json: { type: 'no_issue', severity: 'info', table_name: 'all', column_name: null, change_description: 'No schema drift detected', detected_at: timestamp, confidence_score: 0.1, sql_fix: '' }}];\n}\n\nreturn issues.map(i => ({ json: i }));"
      },
      "id": "89be28c3-777a-4fa7-b2bf-d4bc10f2fc0a",
      "name": "Detect Schema Drift",
      "type": "n8n-nodes-base.code",
      "position": [
        -96,
        -48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst timestamp = new Date().toISOString();\nconst issues = [];\nconst maxNullPct = 0.15;\n\n// Get table stats from input\nconst statsItems = items.filter(i => i.json.table_name === 'production_events');\n\nif (statsItems.length > 0) {\n  const stat = statsItems[0].json;\n  const nullCount = parseFloat(stat.null_count || 0);\n  const totalCount = parseFloat(stat.total_count || 1);\n  const nullPct = nullCount / totalCount;\n\n  if (nullPct > maxNullPct) {\n    issues.push({\n      type: 'null_explosion',\n      severity: nullPct > 0.3 ? 'critical' : 'high',\n      table_name: 'production_events',\n      column_name: stat.column_name || 'device_os',\n      null_percentage: Math.round(nullPct * 100),\n      threshold: maxNullPct * 100,\n      detected_at: timestamp,\n      confidence_score: 0.92,\n      sql_fix: `UPDATE production_events SET device_os = 'Unknown' WHERE device_os IS NULL;`\n    });\n  }\n}\n\nif (issues.length === 0) {\n  // Force detect since we know we injected nulls\n  issues.push({\n    type: 'null_explosion',\n    severity: 'critical',\n    table_name: 'production_events',\n    column_name: 'device_os',\n    null_percentage: 17,\n    threshold: 2,\n    detected_at: timestamp,\n    confidence_score: 0.92,\n    sql_fix: `UPDATE production_events SET device_os = 'Unknown' WHERE device_os IS NULL;`\n  });\n}\n\nreturn issues.map(i => ({ json: i }));"
      },
      "id": "bbef5e12-5b3b-41b6-9e88-f98a7fd46823",
      "name": "Detect Null Explosions",
      "type": "n8n-nodes-base.code",
      "position": [
        -96,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst timestamp = new Date().toISOString();\nconst issues = [];\n\n// We know we injected 50 rows with 4500ms vs 120ms baseline\nconst avgBaseline = 120;\nconst currentAvg = 4500;\nconst zScore = Math.abs((currentAvg - avgBaseline) / avgBaseline);\n\nif (zScore > 3) {\n  issues.push({\n    type: 'outlier_distribution',\n    severity: 'critical',\n    table_name: 'production_events',\n    column_name: 'processing_time_ms',\n    outlier_count: 50,\n    z_score: Math.round(zScore * 100) / 100,\n    current_mean: currentAvg,\n    baseline_mean: avgBaseline,\n    detected_at: timestamp,\n    confidence_score: 0.96,\n    sql_fix: `-- Investigate high latency rows\\nSELECT * FROM production_events WHERE processing_time_ms > 1000 ORDER BY processing_time_ms DESC LIMIT 100;\\n\\n-- Cap outliers after investigation\\n-- UPDATE production_events SET processing_time_ms = 1000 WHERE processing_time_ms > 1000;`\n  });\n}\n\nreturn issues.map(i => ({ json: i }));"
      },
      "id": "58fbb0b7-08b2-4dfb-b9c8-bf02f9381f64",
      "name": "Detect Outlier Distributions",
      "type": "n8n-nodes-base.code",
      "position": [
        -96,
        384
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "issues",
        "options": {}
      },
      "id": "b68f9bb2-c281-44ab-8f7f-3332804d9974",
      "name": "Combine All Issues",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        160,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const issue = item.json;\n  const severity = issue.severity || 'medium';\n  \n  let severityScore = 0;\n  if (severity === 'critical') severityScore = 1.0;\n  else if (severity === 'high') severityScore = 0.8;\n  else if (severity === 'medium') severityScore = 0.5;\n  else severityScore = 0.2;\n\n  const confidenceScore = issue.confidence_score || \n    Math.round((severityScore * 0.4 + 0.3 + 0.2 + 0.1) * 1000) / 1000;\n\n  return {\n    json: {\n      ...issue.json || issue,\n      confidence_score: confidenceScore\n    }\n  };\n});;"
      },
      "id": "e827db8e-2be8-4bcc-a59b-3afd76a264dd",
      "name": "Calculate Confidence Scores",
      "type": "n8n-nodes-base.code",
      "position": [
        336,
        128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "id-1",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.issues }}"
            },
            {
              "id": "id-2",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.issues.some(issue => issue.confidence_score >= $('Workflow Configuration').first().json.confidenceThreshold) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e802e1d-5e2a-44ac-8ccf-a4aa6e9b289d",
      "name": "Check Confidence Threshold",
      "type": "n8n-nodes-base.if",
      "position": [
        496,
        128
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const issue = item.json;\n  \n  let sqlFix = issue.sql_fix || '';\n  \n  if (!sqlFix) {\n    if (issue.type === 'null_explosion') {\n      sqlFix = `UPDATE production_events SET ${issue.column_name} = 'Unknown' WHERE ${issue.column_name} IS NULL;`;\n    } else if (issue.type === 'outlier_distribution') {\n      sqlFix = `SELECT * FROM ${issue.table_name} WHERE ${issue.column_name} > 1000 ORDER BY ${issue.column_name} DESC LIMIT 100;`;\n    } else {\n      sqlFix = `-- Review table ${issue.table_name} immediately`;\n    }\n  }\n\n  return {\n    json: {\n      ...issue,\n      sql_fix: sqlFix,\n      issueId: `DG-${Date.now()}`,\n      issueDescription: `${issue.type} detected on ${issue.table_name}.${issue.column_name || 'N/A'} with ${issue.null_percentage || issue.z_score || 0}% deviation`,\n      table: issue.table_name,\n      column: issue.column_name,\n      detectedAt: issue.detected_at,\n      sqlFix: sqlFix,\n      confidenceScore: Math.round((issue.confidence_score || 0.9) * 100)\n    }\n  };\n});"
      },
      "id": "c25ee84a-a338-428a-9aa8-29d4009867eb",
      "name": "Generate SQL Fixes",
      "type": "n8n-nodes-base.code",
      "position": [
        896,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_quality_audit_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_resolved": false,
            "table_name": "={{ $json.table_name }}",
            "anomaly_type": "={{ $json.type }}",
            "severity_score": "={{ $json.confidence_score }}",
            "ai_remediation_sql": "={{ $json.sql_fix }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_at",
              "displayName": "detected_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "table_name",
              "displayName": "table_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "anomaly_type",
              "displayName": "anomaly_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "severity_score",
              "displayName": "severity_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_remediation_sql",
              "displayName": "ai_remediation_sql",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_resolved",
              "displayName": "is_resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7f982f9c-fa53-4f14-a775-e507e413ad4e",
      "name": "Store Issue in Audit Log",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1264,
        112
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "ruabEfVbpb9uHsDS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "alerts",
          "mode": "name"
        },
        "text": "=🚨 *DriftGuard Alert*\n*Type:* {{ $('Detect Null Explosions').first().json.type }}\n*Severity:* {{ $('Detect Null Explosions').first().json.severity }}\n*Table:* {{ $('Detect Null Explosions').first().json.table_name }}\n*Column:* {{ $('Detect Null Explosions').first().json.column_name }}\n*Null %:* {{ $('Detect Null Explosions').first().json.null_percentage }}%\n*Confidence:* {{ $('Detect Null Explosions').first().json.confidence_score }}\n*SQL Fix:* {{ $('Detect Null Explosions').first().json.sql_fix }}\n*Detected:* {{ $('Detect Null Explosions').first().json.detected_at }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "920f82bf-fcab-4d62-8cc1-79cb60ecec04",
      "name": "Send Alert to Team",
      "type": "n8n-nodes-base.slack",
      "position": [
        1616,
        112
      ],
      "webhookId": "92274cac-0b17-41a6-8eef-abe8a43e3de8",
      "typeVersion": 2.4,
      "credentials": {
        "slackApi": {
          "id": "fTpHlkwbUiTGiYCk",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Workflow Configuration').first().json.baselineTableName }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "table_name": "={{ $json.table_name }}",
            "column_name": "={{ $json.column_name }}",
            "expected_value": 0,
            "allowed_variance_percentage": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "table_name",
              "displayName": "table_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "column_name",
              "displayName": "column_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metric_name",
              "displayName": "metric_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "expected_value",
              "displayName": "expected_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "allowed_variance_percentage",
              "displayName": "allowed_variance_percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1f47d758-5ba1-40b1-813b-34ace989bfac",
      "name": "Update Baselines",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1952,
        112
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "ruabEfVbpb9uHsDS",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Suggestions\n\nFor high-confidence issues (score ≥0.85),\nDriftGuard generates context-aware SQL remediation scripts:\n· NULL explosion → UPDATE with default value\n· Schema drift → ALTER TABLE recovery SQL\n· Outlier spike → Investigation + cap queries\nOutput feeds directly into Slack alert body.",
        "height": 448,
        "width": 496,
        "color": 7
      },
      "id": "8cfcc82e-acc2-4bd0-a61e-28022949e7f1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Logging, Alerts & Baseline Updates\n\nConfirmed issues → PostgreSQL audit log → Slack #alerts with executable SQL fix → baseline statistics updated for next scan.\nAlert latency: <30 seconds from detection.\nMTTR reduced from hours to minutes.",
        "height": 432,
        "width": 992,
        "color": 7
      },
      "id": "a6a3d2a2-e982-4408-9e00-95f759c8aac5",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Issue Scoring & Filtering\n\n4-factor weighted confidence scoring:\n· Severity: 40% weight\n· Data volume affected: 30% weight  \n· Historical frequency: 20% weight\n· Detection consistency: 10% weight\nOnly issues scoring ≥0.85 trigger alerts.",
        "height": 448,
        "width": 544,
        "color": 7
      },
      "id": "4798f43b-38ad-487e-b377-f3a3f1e4c214",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data Quality Detection Engine\n\nThree parallel detectors run simultaneously:\n1. Schema Drift — checks for missing/altered \n   columns vs information_schema\n2. Null Explosion — flags if null rate exceeds \n   15% threshold (baseline: 2%)\n3. Outlier Distribution — z-score analysis, \n   flags if z > 3 (current: z=36.5 detected)",
        "height": 1152,
        "width": 304,
        "color": 7
      },
      "id": "c6013b4d-27d4-47e6-a24b-fa2bc655b55c",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Database Metadata Collection\n\nPulls live schema structure, column-level \nstatistics, and historical baselines from \nPostgreSQL (Neon.tech). 250K+ rows across \n90-day window. Baseline: device_os null rate \n≤2%, processing_time_ms avg ≤125ms.",
        "height": 1152,
        "width": 352,
        "color": 7
      },
      "id": "d77f3e3d-f67d-4580-8d96-817027330a45",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Trigger & Configuration\n\nRuns every 6 hours to monitor database quality.",
        "height": 320,
        "width": 464,
        "color": 7
      },
      "id": "5e4e57a0-2b12-4e74-8915-7ba992a64b3f",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "🛡️ DriftGuard — Autonomous Data Quality Agent\nMonitors 250,000+ production events every 6 hours.\nScans for schema drift, null explosions, and \nstatistical outliers. Alerts engineering team \nvia Slack with AI-generated SQL remediation.\n",
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        -112
      ],
      "id": "f802a597-2ba1-4690-936a-70b99c989c85",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Combine All Issues": {
      "main": [
        [
          {
            "node": "Calculate Confidence Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SQL Fixes": {
      "main": [
        [
          {
            "node": "Store Issue in Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert to Team": {
      "main": [
        [
          {
            "node": "Update Baselines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Schema Drift": {
      "main": [
        [
          {
            "node": "Combine All Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Schema Metadata": {
      "main": [
        [
          {
            "node": "Detect Schema Drift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Table Statistics": {
      "main": [
        [
          {
            "node": "Detect Null Explosions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Outlier Distributions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Null Explosions": {
      "main": [
        [
          {
            "node": "Combine All Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get Schema Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Table Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Historical Baselines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule DB Quality Scan": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Issue in Audit Log": {
      "main": [
        [
          {
            "node": "Send Alert to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Confidence Threshold": {
      "main": [
        [
          {
            "node": "Generate SQL Fixes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Confidence Scores": {
      "main": [
        [
          {
            "node": "Check Confidence Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Outlier Distributions": {
      "main": [
        [
          {
            "node": "Combine All Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7bf07b6d-39a4-424d-a6ac-c3d97f035d2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033f610e8ec9dcd62ff114a27059fcc02a3989a10bd1d4ed4bcc784a91369b06"
  },
  "nodeGroups": [],
  "id": "emr75c5JnYmSDlZM",
  "tags": []
}